# shellcheck shell=sh

# Load environment variables.
if [ -f .env ]; then
  dotenv .env
fi

# automatically loads a Nix Development environment if nix is installed.
if has nix; then
  use flake .
else
  echo 'Error: `nix` is not installed.'
  echo 'Please consider installing nix.'
fi
